svg.circuit text {
    font-family: Arial;
}

svg#tor-circuit text.node-text {
    dominant-baseline: central;
    font-size: 14px;
}

svg#tor-circuit circle.node-circle {
    stroke: #195021;
    stroke-width: 2px;
    fill: white;
}